{
  "prettier.useTabs": true,
  "prettier.withNodeModules": true,
  "prettier.enableDebugLogs": true,
  "prettier.arrowParens": "avoid",
  "prettier.requirePragma": true,
  "prettier.insertPragma": true,
  "prettier.singleAttributePerLine": true,
  "prettier.endOfLine": "auto",
  "prettier.bracketSameLine": true
}
